body {
        background-color: royalblue;
}

section {
        display: flex;
        flex-direction: column;
        align-items: center;
}

h1, h2 {
        color: purple;
        background-color: white;
}

p {
        color: gold;
        display: flex;
        justify-content: center;
        font-size: larger;
}

#message {
        color: red;
}

form {
        display: flex;
        justify-content: space-evenly;
}
