body {
        background-color: black;
}

h1, h2 {
        color: red;
        display: flex;
        justify-content: center;
}

p {
        color: yellow;
        display: flex;
        justify-content: center;
}

form {
        display: flex;
        justify-content: space-evenly;
}
